.loginbox {
    padding-left: 20px;
    padding-right: 20px;
    color: #7e7975;
    font-family: 'Microsoft YaHei', sans-serif;
    font-weight: 300;
    background-color: rgba(255, 250, 246, 0.6);
    width: 350px;
    height: 220px;
    border: 1px solid gray;
    top: 20%;
    right: 20%;
    position: fixed;
}

h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.loginration {
    color: darkorange;
}

.loginbtn {
    margin-left: auto;
    margin-right: auto;
    background: #3498db;
    background: -moz-linear-gradient(#8AC6ED, #65B8ED);
    background: -ms-linear-gradient(#8AC6ED, #65B8ED);
    background: -o-linear-gradient(#8AC6ED, #65B8ED);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#8AC6ED), to(#8AC6ED));
    background: -webkit-linear-gradient(#65B8ED, #65B8ED);
    background: linear-gradient(#8AC6ED, #65B8ED);
    border: 1px solid #3499DB;
    color: #115D8E;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    width: 70%;
    height: 38px;
    float: right;
    position: relative;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.loginbtn:active {
    background: -moz-linear-gradient(#65B8ED, #8AC6ED);
    background: -ms-linear-gradient(#65B8ED, #8AC6ED);
    background: -o-linear-gradient(#65B8ED, #8AC6ED);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#65B8ED), to(#8AC6ED));
    background: -webkit-linear-gradient(#65B8ED, #8AC6ED);
    background: linear-gradient(#65B8ED, #8AC6ED);
}

.returnbtn {
    margin-left: auto;
    margin-right: 2%;
    background: #fbd568;
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    width: 28%;
    height: 38px;
    float: right;
    position: relative;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
}

.returnbtn:active {
    background: -moz-linear-gradient(#ffb347, #fbd568);
    background: -ms-linear-gradient(#ffb347, #fbd568);
    background: -o-linear-gradient(#ffb347, #fbd568);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb347), to(#fbd568));
    background: -webkit-linear-gradient(#ffb347, #fbd568);
    background: linear-gradient(#ffb347, #fbd568);
}

.returnbtn:hover {
    color: #996319;
    text-decoration: none;
}

input {
    float: right;
}



.checklabel {
    margin-left: 5px;
    float: right;
    font-weight: 200;
}

.textfield {
    width: 70%;
}

body {
    overflow: hidden;
}
.login {
    color: #3f3f3f;
}
